body {
    background-color: #F5BACE;
    font-family: 'Roboto', sans-serif;
    color: #685044;
    margin: 0;
}
header {
    text-align: center;
    position: sticky;
    top: 0;

}
header img {
    width: 100px;
    display: block;
    padding: 0;
    
}


.custom-navbar-bg {
    background-color: #9D9171;
    
} 
.custom-navbar-bg a {
   
    color: #ffffff;
}

section {
    padding: 20px;
    text-align: center
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.formulario label {
    display: block;
}
footer {

    padding-top: 20px;
    height: 100px;
    background-color: #3A405A;
    padding-left: 10px;

}
.articulo-principal{
    padding: 20px;
    text-align: center;
    
}

.carousel-item img{
    height: 500px;
    margin: 0 auto;
}