@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.carousel-item {
    
    img {
        max-height: 500px;
        margin: 0 auto;
        

    }
    iframe {
        z-index: 0; /* Un valor más bajo que el del navbar */
      }
}


.carrito {
   padding-top: 60px;
    z-index: -1;
}


.row {
    padding: 2rem;
}
.video-container {
    @include flex-wrap;
}

.video {
    flex: 1;
    max-width: calc(33.33% - 20px);
}


.video iframe {
    width: 100%;
    height: 100%;
}