
header img {
    width: 100px;
    display: block;
    padding: 0;
    
}


.custom-navbar-bg {
    background-color: #9D9171;
    position: relative;
    top: 0;
    z-index: zindex-sticky ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    a {

        color: #ffffff;
    }
    
} 

